In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('details.csv')

In [24]:
data2 = pd.read_csv('district.csv')

In [25]:
data2 = data2.drop(['Unnamed: 0','Crop_Year'],axis =1)

In [29]:
data1['STATES'] = data1['STATES'].str.lower()

In [35]:
data1.head()

,STATES,Crop,Annual_Rain,Avg_Temperature
0,andaman & nicobar islands,Arecanut,2763.2,24.6
1,andaman & nicobar islands,Other Kharif pulses,2763.2,24.6
2,andaman & nicobar islands,Rice,2763.2,24.6
3,andaman & nicobar islands,Banana,2763.2,24.6
4,andaman & nicobar islands,Cashewnut,2763.2,24.6

In [31]:
data2['STATES'] = data2['STATES'].str.lower()

In [32]:
data2.head()

                        STATES District_Name       Season          Crop
0  andaman and nicobar islands      NICOBARS  Kharif               Rice
1  andaman and nicobar islands      NICOBARS  Whole Year       Arecanut
2  andaman and nicobar islands      NICOBARS  Whole Year         Banana
3  andaman and nicobar islands      NICOBARS  Whole Year   Black pepper
4  andaman and nicobar islands      NICOBARS  Whole Year      Cashewnut

In [34]:
data1.head()

,STATES,Crop,Annual_Rain,Avg_Temperature
0,andaman & nicobar islands,Arecanut,2763.2,24.6
1,andaman & nicobar islands,Other Kharif pulses,2763.2,24.6
2,andaman & nicobar islands,Rice,2763.2,24.6
3,andaman & nicobar islands,Banana,2763.2,24.6
4,andaman & nicobar islands,Cashewnut,2763.2,24.6

In [140]:
data = pd.merge(data2 , data1 , how='outer', on=['STATES','Crop'])

In [18]:
data2['District_Name'].nunique()

580

In [110]:
state = data2['STATES'].unique()
state

array(['andaman and nicobar islands', 'andhra pradesh',
       'arunachal pradesh', 'assam', 'bihar', 'chandigarh',
       'chhattisgarh', 'dadra and nagar haveli', 'gujarat', 'haryana',
       'himachal pradesh', 'jammu and kashmir ', 'jharkhand', 'karnataka',
       'kerala', 'madhya pradesh', 'maharashtra', 'manipur', 'meghalaya',
       'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab',
       'rajasthan', 'sikkim', 'tamil nadu', 'telangana ', 'tripura',
       'uttar pradesh', 'uttarakhand', 'west bengal'], dtype=object)

li = {'State':[],
     'district':[]}

In [117]:
final=[]
for i in state:
    li = {'State':[],'district':[]}
    print(i)
    a = data2[data2['STATES']==i]["District_Name"].unique()
    abc=[]
    li['State'] = i
    for i in a:
        abc.append(i)

    li['district'] = abc
    final.append(li)

andaman and nicobar islands
andhra pradesh
arunachal pradesh
assam
bihar
chandigarh
chhattisgarh
dadra and nagar haveli
gujarat
haryana
himachal pradesh
jammu and kashmir
jharkhand
karnataka
kerala
madhya pradesh
maharashtra
manipur
meghalaya
mizoram
nagaland
odisha
puducherry
punjab
rajasthan
sikkim
tamil nadu
telangana
tripura
uttar pradesh
uttarakhand
west bengal

In [118]:
print(final[1]['State'],final[1]['district'])

andhra pradesh ['ANANTAPUR', 'CHITTOOR', 'EAST GODAVARI', 'GUNTUR', 'KADAPA', 'KRISHNA', 'KURNOOL', 'PRAKASAM', 'SPSR NELLORE', 'SRIKAKULAM', 'VISAKHAPATANAM', 'VIZIANAGARAM', 'WEST GODAVARI']

In [70]:
#data2[data2['STATES']=='andaman and nicobar islands']["District_Name"].unique()

array(['NICOBARS', 'SOUTH ANDAMANS'], dtype=object)

In [119]:
final

[{'State': 'andaman and nicobar islands',
  'district': ['NICOBARS', 'SOUTH ANDAMANS']},
 {'State': 'andhra pradesh',
  'district': ['ANANTAPUR',
   'CHITTOOR',
   'EAST GODAVARI',
   'GUNTUR',
   'KADAPA',
   'KRISHNA',
   'KURNOOL',
   'PRAKASAM',
   'SPSR NELLORE',
   'SRIKAKULAM',
   'VISAKHAPATANAM',
   'VIZIANAGARAM',
   'WEST GODAVARI']},
 {'State': 'arunachal pradesh',
  'district': ['CHANGLANG',
   'DIBANG VALLEY',
   'EAST KAMENG',
   'EAST SIANG',
   'KURUNG KUMEY',
   'LOHIT',
   'LOWER DIBANG VALLEY',
   'LOWER SUBANSIRI',
   'PAPUM PARE',
   'TAWANG',
   'TIRAP',
   'UPPER SIANG',
   'UPPER SUBANSIRI',
   'WEST KAMENG',
   'WEST SIANG']},
 {'State': 'assam',
  'district': ['BARPETA',
   'BONGAIGAON',
   'CACHAR',
   'DARRANG',
   'DHEMAJI',
   'DHUBRI',
   'DIBRUGARH',
   'DIMA HASAO',
   'GOALPARA',
   'GOLAGHAT',
   'HAILAKANDI',
   'JORHAT',
   'KAMRUP',
   'KARBI ANGLONG',
   'KARIMGANJ',
   'KOKRAJHAR',
   'LAKHIMPUR',
   'MARIGAON',
   'NAGAON',
   'NALBARI',
   'SIVASAGAR',
   'SONITPUR',
   'TINSUKIA']},
 {'State': 'bihar',
  'district': ['ARARIA',
   'ARWAL',
   'AURANGABAD',
   'BANKA',
   'BEGUSARAI',
   'BHAGALPUR',
   'BHOJPUR',
   'BUXAR',
   'DARBHANGA',
   'GAYA',
   'GOPALGANJ',
   'JAMUI',
   'JEHANABAD',
   'KAIMUR (BHABUA)',
   'KATIHAR',
   'KHAGARIA',
   'KISHANGANJ',
   'LAKHISARAI',
   'MADHEPURA',
   'MADHUBANI',
   'MUNGER',
   'MUZAFFARPUR',
   'NALANDA',
   'NAWADA',
   'PASHCHIM CHAMPARAN',
   'PATNA',
   'PURBI CHAMPARAN',
   'PURNIA',
   'ROHTAS',
   'SAHARSA',
   'SAMASTIPUR',
   'SARAN',
   'SHEIKHPURA',
   'SHEOHAR',
   'SITAMARHI',
   'SIWAN',
   'SUPAUL',
   'VAISHALI']},
 {'State': 'chandigarh', 'district': ['CHANDIGARH']},
 {'State': 'chhattisgarh',
  'district': ['BASTAR',
   'BILASPUR',
   'DANTEWADA',
   'DHAMTARI',
   'DURG',
   'JANJGIR-CHAMPA',
   'JASHPUR',
   'KABIRDHAM',
   'KANKER',
   'KORBA',
   'KOREA',
   'MAHASAMUND',
   'RAIGARH',
   'RAIPUR',
   'RAJNANDGAON',
   'SURGUJA']},
 {'State': 'dadra and nagar haveli', 'district': ['DADRA AND NAGAR HAVELI']},
 {'State': 'gujarat',
  'district': ['AHMADABAD',
   'AMRELI',
   'ANAND',
   'BANAS KANTHA',
   'BHARUCH',
   'BHAVNAGAR',
   'DANG',
   'DOHAD',
   'GANDHINAGAR',
   'JAMNAGAR',
   'JUNAGADH',
   'KACHCHH',
   'KHEDA',
   'MAHESANA',
   'NARMADA',
   'NAVSARI',
   'PANCH MAHALS',
   'PATAN',
   'PORBANDAR',
   'RAJKOT',
   'SABAR KANTHA',
   'SURAT',
   'SURENDRANAGAR',
   'VADODARA',
   'VALSAD']},
 {'State': 'haryana',
  'district': ['AMBALA',
   'BHIWANI',
   'FARIDABAD',
   'FATEHABAD',
   'GURGAON',
   'HISAR',
   'JHAJJAR',
   'JIND',
   'KAITHAL',
   'KARNAL',
   'KURUKSHETRA',
   'MAHENDRAGARH',
   'PANCHKULA',
   'PANIPAT',
   'REWARI',
   'ROHTAK',
   'SIRSA',
   'SONIPAT',
   'YAMUNANAGAR']},
 {'State': 'himachal pradesh',
  'district': ['BILASPUR',
   'CHAMBA',
   'HAMIRPUR',
   'KANGRA',
   'KINNAUR',
   'KULLU',
   'LAHUL AND SPITI',
   'MANDI',
   'SHIMLA',
   'SIRMAUR',
   'SOLAN',
   'UNA']},
 {'State': 'jammu and kashmir ',
  'district': ['ANANTNAG',
   'BADGAM',
   'BARAMULLA',
   'DODA',
   'JAMMU',
   'KARGIL',
   'KATHUA',
   'KUPWARA',
   'LEH LADAKH',
   'POONCH',
   'PULWAMA',
   'RAJAURI',
   'SRINAGAR',
   'UDHAMPUR']},
 {'State': 'jharkhand',
  'district': ['BOKARO',
   'CHATRA',
   'DEOGHAR',
   'DHANBAD',
   'DUMKA',
   'EAST SINGHBUM',
   'GARHWA',
   'GIRIDIH',
   'GODDA',
   'GUMLA',
   'HAZARIBAGH',
   'JAMTARA',
   'KODERMA',
   'LATEHAR',
   'LOHARDAGA',
   'PAKUR',
   'PALAMU',
   'RANCHI',
   'SAHEBGANJ',
   'SARAIKELA KHARSAWAN',
   'SIMDEGA',
   'WEST SINGHBHUM']},
 {'State': 'karnataka',
  'district': ['BAGALKOT',
   'BANGALORE RURAL',
   'BELGAUM',
   'BELLARY',
   'BENGALURU URBAN',
   'BIDAR',
   'BIJAPUR',
   'CHAMARAJANAGAR',
   'CHIKMAGALUR',
   'CHITRADURGA',
   'DAKSHIN KANNAD',
   'DAVANGERE',
   'DHARWAD',
   'GADAG',
   'GULBARGA',
   'HASSAN',
   'HAVERI',
   'KODAGU',
   'KOLAR',
   'KOPPAL',
   'MANDYA',
   'MYSORE',
   'RAICHUR',
   'SHIMOGA',
   'TUMKUR',
   'UDUPI',
   'UTTAR KANNAD']},
 {'State': 'kerala',
  'district': ['ALAPPUZHA',
   'ERNAKULAM',
   'IDUKKI',
   'KANNUR',
   'KASARAGOD',
   'KOLLAM',
   'KOTTAYAM',
   'KOZHIKODE',
   'MALAPPURAM',
   'PALAKKAD',
   'PATHANAMTHITTA',
   'THIRUVANANTHAPURAM',
   'THRISSUR',
   'WAYANAD']},
 {'State': 'madhya pradesh',
  'district': ['ANUPPUR',
   'ASHOKNAGAR',
   'BALAGHAT',
   'BARWANI',
   'BETUL',
   'BHIND',
   'BHOPAL',
   'BURHANPUR',
   'CHHATARPUR',
   'CHHINDWARA',
   'DAMOH',
   'DATIA',
   'DEWAS',
   'DHAR',
   'DINDORI',
   'GUNA',
   'GWALIOR',
   'HARDA',
   'HOSHANGABAD',
   'INDORE',
   'JABALPUR',
   'JHABUA',
   'KATNI',
   'KHANDWA',
   'KHARGONE',
   'MANDLA',
   'MANDSAUR',
   'MORENA',
   'NARSINGHPUR',
   'NEEMUCH',
   'PANNA',
   'RAISEN',
   'RAJGARH',
   'RATLAM',
   'REWA',
   'SAGAR',
   'SATNA',
   'SEHORE',
   'SEONI',
   'SHAHDOL',
   'SHAJAPUR',
   'SHEOPUR',
   'SHIVPURI',
   'SIDHI',
   'TIKAMGARH',
   'UJJAIN',
   'UMARIA',
   'VIDISHA']},
 {'State': 'maharashtra',
  'district': ['AHMEDNAGAR',
   'AKOLA',
   'AMRAVATI',
   'AURANGABAD',
   'BEED',
   'BHANDARA',
   'BULDHANA',
   'CHANDRAPUR',
   'DHULE',
   'GADCHIROLI',
   'GONDIA',
   'HINGOLI',
   'JALGAON',
   'JALNA',
   'KOLHAPUR',
   'LATUR',
   'NAGPUR',
   'NANDED',
   'NANDURBAR',
   'NASHIK',
   'OSMANABAD',
   'PARBHANI',
   'PUNE',
   'RAIGAD',
   'RATNAGIRI',
   'SANGLI',
   'SATARA',
   'SINDHUDURG',
   'SOLAPUR',
   'THANE',
   'WARDHA',
   'WASHIM',
   'YAVATMAL']},
 {'State': 'manipur',
  'district': ['BISHNUPUR',
   'CHANDEL',
   'CHURACHANDPUR',
   'IMPHAL EAST',
   'IMPHAL WEST',
   'SENAPATI',
   'TAMENGLONG',
   'THOUBAL',
   'UKHRUL']},
 {'State': 'meghalaya',
  'district': ['EAST GARO HILLS',
   'EAST JAINTIA HILLS',
   'EAST KHASI HILLS',
   'RI BHOI',
   'SOUTH GARO HILLS',
   'WEST GARO HILLS',
   'WEST KHASI HILLS']},
 {'State': 'mizoram',
  'district': ['AIZAWL', 'CHAMPHAI', 'KOLASIB', 'LUNGLEI', 'MAMIT', 'SAIHA']},
 {'State': 'nagaland',
  'district': ['DIMAPUR',
   'KOHIMA',
   'MOKOKCHUNG',
   'MON',
   'PHEK',
   'TUENSANG',
   'WOKHA',
   'ZUNHEBOTO']},
 {'State': 'odisha',
  'district': ['ANUGUL',
   'BALANGIR',
   'BALESHWAR',
   'BARGARH',
   'BHADRAK',
   'BOUDH',
   'CUTTACK',
   'DEOGARH',
   'DHENKANAL',
   'GAJAPATI',
   'GANJAM',
   'JAGATSINGHAPUR',
   'JAJAPUR',
   'JHARSUGUDA',
   'KALAHANDI',
   'KANDHAMAL',
   'KENDRAPARA',
   'KENDUJHAR',
   'KHORDHA',
   'KORAPUT',
   'MALKANGIRI',
   'MAYURBHANJ',
   'NABARANGPUR',
   'NAYAGARH',
   'NUAPADA',
   'PURI',
   'RAYAGADA',
   'SAMBALPUR',
   'SONEPUR',
   'SUNDARGARH']},
 {'State': 'puducherry',
  'district': ['KARAIKAL', 'MAHE', 'PONDICHERRY', 'YANAM']},
 {'State': 'punjab',
  'district': ['AMRITSAR',
   'BATHINDA',
   'FARIDKOT',
   'FATEHGARH SAHIB',
   'FIROZEPUR',
   'GURDASPUR',
   'HOSHIARPUR',
   'JALANDHAR',
   'KAPURTHALA',
   'LUDHIANA',
   'MANSA',
   'MOGA',
   'MUKTSAR',
   'NAWANSHAHR',
   'PATIALA',
   'RUPNAGAR',
   'SANGRUR']},
 {'State': 'rajasthan',
  'district': ['AJMER',
   'ALWAR',
   'BANSWARA',
   'BARAN',
   'BARMER',
   'BHARATPUR',
   'BHILWARA',
   'BIKANER',
   'BUNDI',
   'CHITTORGARH',
   'CHURU',
   'DAUSA',
   'DHOLPUR',
   'DUNGARPUR',
   'GANGANAGAR',
   'HANUMANGARH',
   'JAIPUR',
   'JAISALMER',
   'JALORE',
   'JHALAWAR',
   'JHUNJHUNU',
   'JODHPUR',
   'KARAULI',
   'KOTA',
   'NAGAUR',
   'PALI',
   'RAJSAMAND',
   'SAWAI MADHOPUR',
   'SIKAR',
   'SIROHI',
   'TONK',
   'UDAIPUR']},
 {'State': 'sikkim',
  'district': ['EAST DISTRICT',
   'NORTH DISTRICT',
   'SOUTH DISTRICT',
   'WEST DISTRICT']},
 {'State': 'tamil nadu',
  'district': ['COIMBATORE',
   'CUDDALORE',
   'DHARMAPURI',
   'DINDIGUL',
   'ERODE',
   'KANCHIPURAM',
   'KANNIYAKUMARI',
   'KARUR',
   'KRISHNAGIRI',
   'MADURAI',
   'NAGAPATTINAM',
   'NAMAKKAL',
   'PERAMBALUR',
   'PUDUKKOTTAI',
   'RAMANATHAPURAM',
   'SALEM',
   'SIVAGANGA',
   'THANJAVUR',
   'THE NILGIRIS',
   'THENI',
   'THIRUVALLUR',
   'THIRUVARUR',
   'TIRUCHIRAPPALLI',
   'TIRUNELVELI',
   'TIRUVANNAMALAI',
   'TUTICORIN',
   'VELLORE',
   'VILLUPURAM',
   'VIRUDHUNAGAR']},
 {'State': 'telangana ',
  'district': ['ADILABAD',
   'KARIMNAGAR',
   'KHAMMAM',
   'MAHBUBNAGAR',
   'MEDAK',
   'NALGONDA',
   'NIZAMABAD',
   'RANGAREDDI',
   'WARANGAL']},
 {'State': 'tripura',
  'district': ['DHALAI', 'NORTH TRIPURA', 'SOUTH TRIPURA', 'WEST TRIPURA']},
 {'State': 'uttar pradesh',
  'district': ['AGRA',
   'ALIGARH',
   'ALLAHABAD',
   'AMBEDKAR NAGAR',
   'AMROHA',
   'AURAIYA',
   'AZAMGARH',
   'BAGHPAT',
   'BAHRAICH',
   'BALLIA',
   'BALRAMPUR',
   'BANDA',
   'BARABANKI',
   'BAREILLY',
   'BASTI',
   'BIJNOR',
   'BUDAUN',
   'BULANDSHAHR',
   'CHANDAULI',
   'CHITRAKOOT',
   'DEORIA',
   'ETAH',
   'ETAWAH',
   'FAIZABAD',
   'FARRUKHABAD',
   'FATEHPUR',
   'FIROZABAD',
   'GAUTAM BUDDHA NAGAR',
   'GHAZIABAD',
   'GHAZIPUR',
   'GONDA',
   'GORAKHPUR',
   'HAMIRPUR',
   'HARDOI',
   'HATHRAS',
   'JALAUN',
   'JAUNPUR',
   'JHANSI',
   'KANNAUJ',
   'KANPUR DEHAT',
   'KANPUR NAGAR',
   'KAUSHAMBI',
   'KHERI',
   'KUSHI NAGAR',
   'LALITPUR',
   'LUCKNOW',
   'MAHARAJGANJ',
   'MAHOBA',
   'MAINPURI',
   'MATHURA',
   'MAU',
   'MEERUT',
   'MIRZAPUR',
   'MORADABAD',
   'MUZAFFARNAGAR',
   'PILIBHIT',
   'PRATAPGARH',
   'RAE BARELI',
   'RAMPUR',
   'SAHARANPUR',
   'SANT KABEER NAGAR',
   'SANT RAVIDAS NAGAR',
   'SHAHJAHANPUR',
   'SHRAVASTI',
   'SIDDHARTH NAGAR',
   'SITAPUR',
   'SONBHADRA',
   'SULTANPUR',
   'UNNAO',
   'VARANASI']},
 {'State': 'uttarakhand',
  'district': ['ALMORA',
   'BAGESHWAR',
   'CHAMOLI',
   'CHAMPAWAT',
   'DEHRADUN',
   'HARIDWAR',
   'NAINITAL',
   'PAURI GARHWAL',
   'PITHORAGARH',
   'RUDRA PRAYAG',
   'TEHRI GARHWAL',
   'UDAM SINGH NAGAR',
   'UTTAR KASHI']},
 {'State': 'west bengal',
  'district': ['24 PARAGANAS NORTH',
   '24 PARAGANAS SOUTH',
   'BANKURA',
   'BARDHAMAN',
   'BIRBHUM',
   'COOCHBEHAR',
   'DARJEELING',
   'DINAJPUR DAKSHIN',
   'DINAJPUR UTTAR',
   'HOOGHLY',
   'HOWRAH',
   'JALPAIGURI',
   'MALDAH',
   'MEDINIPUR EAST',
   'MEDINIPUR WEST',
   'MURSHIDABAD',
   'NADIA',
   'PURULIA']}]

In [141]:
data

,STATES,District_Name,Season,Crop,Annual_Rain,Avg_Temperature
0,andaman and nicobar islands,NICOBARS,Kharif,Rice,NaN,NaN
1,andaman and nicobar islands,SOUTH ANDAMANS,Kharif,Rice,NaN,NaN
2,andaman and nicobar islands,NICOBARS,Whole Year,Arecanut,NaN,NaN
3,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Arecanut,NaN,NaN
4,andaman and nicobar islands,NICOBARS,Whole Year,Banana,NaN,NaN
5,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Banana,NaN,NaN
6,andaman and nicobar islands,NICOBARS,Whole Year,Black pepper,NaN,NaN
7,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Black pepper,NaN,NaN
8,andaman and nicobar islands,NICOBARS,Whole Year,Cashewnut,NaN,NaN
9,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Cashewnut,NaN,NaN
10,andaman and nicobar islands,NICOBARS,Whole Year,Coconut,NaN,NaN
11,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Coconut,NaN,NaN
12,andaman and nicobar islands,NICOBARS,Whole Year,Dry chillies,NaN,NaN
13,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Dry chillies,NaN,NaN
14,andaman and nicobar islands,NICOBARS,Whole Year,Dry ginger,NaN,NaN
15,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Dry ginger,NaN,NaN
16,andaman and nicobar islands,NICOBARS,Whole Year,other oilseeds,NaN,NaN
17,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,other oilseeds,NaN,NaN
18,andaman and nicobar islands,SOUTH ANDAMANS,Whole Year,Sugarcane,NaN,NaN
19,andhra pradesh,ANANTAPUR,Kharif,Arhar/Tur,931.80,24.6
20,andhra pradesh,CHITTOOR,Kharif,Arhar/Tur,931.80,24.6
21,andhra pradesh,CHITTOOR,Rabi,Arhar/Tur,931.80,24.6
22,andhra pradesh,EAST GODAVARI,Kharif,Arhar/Tur,931.80,24.6
23,andhra pradesh,GUNTUR,Kharif,Arhar/Tur,931.80,24.6
24,andhra pradesh,GUNTUR,Rabi,Arhar/Tur,931.80,24.6
25,andhra pradesh,KADAPA,Kharif,Arhar/Tur,931.80,24.6
26,andhra pradesh,KADAPA,Rabi,Arhar/Tur,931.80,24.6
27,andhra pradesh,KRISHNA,Kharif,Arhar/Tur,931.80,24.6
28,andhra pradesh,KURNOOL,Kharif,Arhar/Tur,931.80,24.6
29,andhra pradesh,KURNOOL,Rabi,Arhar/Tur,931.80,24.6
...,...,...,...,...,...,...
17436,telangana,NaN,NaN,Horse-gram,1078.00,24.6
17437,telangana,NaN,NaN,Linseed,1078.00,24.6
17438,telangana,NaN,NaN,Other Rabi pulses,1078.00,24.6
17439,telangana,NaN,NaN,Safflower,1078.00,24.6
17440,telangana,NaN,NaN,Wheat,1078.00,24.6
17441,telangana,NaN,NaN,Banana,1078.00,24.6
17442,telangana,NaN,NaN,Cashewnut,1078.00,24.6
17443,telangana,NaN,NaN,Coriander,1078.00,24.6
17444,telangana,NaN,NaN,Potato,1078.00,24.6
17445,telangana,NaN,NaN,Sugarcane,1078.00,24.6
17446,telangana,NaN,NaN,Sweet potato,1078.00,24.6
17447,telangana,NaN,NaN,Tobacco,1078.00,24.6
17448,telangana,NaN,NaN,Turmeric,1078.00,24.6
17449,telangana,NaN,NaN,Rapeseed &Mustard,1078.00,24.6
17450,telangana,NaN,NaN,Dry ginger,1078.00,24.6
17451,telangana,NaN,NaN,Mesta,1078.00,24.6
17452,telangana,NaN,NaN,Ragi,1078.00,24.6
17453,telangana,NaN,NaN,Coconut,1078.00,24.6
17454,telangana,NaN,NaN,Korra,1078.00,24.6
17455,telangana,NaN,NaN,Tapioca,1078.00,24.6
17456,telangana,NaN,NaN,Niger seed,1078.00,24.6
17457,uttar pradesh,NaN,NaN,Cotton(lint),859.10,24.6
17458,uttar pradesh,NaN,NaN,Moong,859.10,24.6
17459,uttar pradesh,NaN,NaN,Small millets,859.10,24.6
17460,uttar pradesh,NaN,NaN,Castor seed,859.10,24.6
17461,uttar pradesh,NaN,NaN,Jute,859.10,24.6
17462,uttarakhand,NaN,NaN,Small millets,1712.90,24.6
17463,uttarakhand,NaN,NaN,Moong,1712.90,24.6
17464,uttarakhand,NaN,NaN,Turmeric,1712.90,24.6
17465,west bengal,NaN,NaN,Moong,2240.05,24.6

In [146]:
data = pd.merge(data2 , data1 , how='outer', on=['STATES','Crop'])

In [159]:
del_list = data[data['District_Name'].isna()].index

In [160]:
data = data.drop(del_list, axis=0)

In [165]:
data.tail()

,STATES,District_Name,Season,Crop,Annual_Rain,Avg_Temperature
17282,west bengal,MALDAH,Rabi,Barley,2240.05,24.6
17283,west bengal,MURSHIDABAD,Rabi,Barley,2240.05,24.6
17284,west bengal,NADIA,Rabi,Barley,2240.05,24.6
17285,west bengal,DARJEELING,Whole Year,Cardamom,NaN,NaN
17286,west bengal,MEDINIPUR WEST,Kharif,Castor seed,2240.05,24.6

In [163]:
data.isna().count()

STATES             17287
District_Name      17287
Season             17287
Crop               17287
Annual_Rain        17287
Avg_Temperature    17287
dtype: int64

In [125]:
data['Season'].unique()

array(['Kharif     ', 'Whole Year ', 'Rabi       ', 'Autumn     ',
       'Summer     ', 'Winter     ', nan], dtype=object)

In [172]:
data.isna().sum()

STATES             0
District_Name      0
Season             0
Crop               0
Annual_Rain        0
Avg_Temperature    0
dtype: int64

In [171]:
data.fillna(method='backfill',inplace = True)

In [176]:
data.tail()

,STATES,District_Name,Season,Crop,Annual_Rain,Avg_Temperature
17282,west bengal,MALDAH,Rabi,Barley,2240.05,24.6
17283,west bengal,MURSHIDABAD,Rabi,Barley,2240.05,24.6
17284,west bengal,NADIA,Rabi,Barley,2240.05,24.6
17285,west bengal,DARJEELING,Whole Year,Cardamom,2240.05,24.6
17286,west bengal,MEDINIPUR WEST,Kharif,Castor seed,2240.05,24.6

In [175]:
data.to_csv('final.csv',index=False)